<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="SharedQt.template.tt"#>
<#
var entity = host.CurrentType.AsOdcmEnum();
#>
#pragma once
enum class <#=writer.GetPrefix() + entity.Name #>) {

<#

for(var i=1; i <= entity.Members.Count; i++)
{

string value = entity.Members[i -1].Name + (i == entity.Members.Count ? string.Empty : ",");

#>
	<#= value#>
<#
	
}

#>

};
